/*css reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*header rules*/

header {
    padding: 12px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    font-family: 'Open Sans';
}

header ul {
    display: flex;
    padding: 0;
    justify-content: center;
    margin: 48px;
}

header ul li {
    list-style-type: none;
    font-weight: bold;
    margin: 12px;
}

header ul li a {
    text-decoration: none;
}

header ul li a.active,
header ul li a:hover {
    border-bottom: solid 2px lightblue;
}

/*main rules*/

main {
    font-family: 'Open Sans';
    background-color: black;
    color: white;
    padding: 50px;
}

/*regole card container*/

/* regole lista prodotti */
.card-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.comic-card {
    width: calc((100%/6));
    padding: 12px;
}

.comic-card img {
    object-fit: cover;
    width: 100%;
    height: 50%;
    display: block;
}


/*blue component rules*/

.blue-element {
    font-family: 'Open Sans';
    background-color: lightskyblue;
}

.blue-element ul {
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.blue-element ul li {
    width: 100%;
    /*flex-basis: 18%;*/
    list-style-type: none;
    font-weight: bold;
    margin: 12px;
}


/*footer rules*/

/*top item rules*/

footer .footer-nav {
    background-image: url(./assets/imgs/footer-bg.jpg);
    color: white;
    display: flex;
}

.footer-nav ul li,
.footer-nav h4 {
    list-style-type: none;
    font-weight: bold;
    margin: 12px;
}

.footer-nav ul li a {
    text-decoration: none;
}
